:root{
    --pink : #854836;
    --bg : #0a0a0a;
    --shadow : 0 2px 2px rgb(0 0 0/0.5);
}
body{
    font-size: 1.2rem;
    font-family: "Work Sans", serif;
}

.hero::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('img/heroimg2.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}
.hero{
    position: relative;
    min-height: 130vh;
}
.hero h1{
    font-family: "Sacramento", serif;
    font-size : 5rem;
}

.hero h1,.hero h4,.hero h3,.hero h5,.hero p{
    text-shadow: var(--shadow);
    margin: 1.2rem;
}

.hero h3{
    font-size: 2rem;
}

.hero p{
    font-size:1.4rem;
}
.hero a{
    color: var(--pink);
    background-color: white;
    margin-top: 4vh;
    box-shadow: var(--shadow);
}
.hero a:hover{
    color: white;
    background-color: var(--pink);
}

.navbarcss{
    background-color: rgba(255, 255, 2555, 0.5);
    backdrop-filter: blur(4px);
}

.navbarcss .offcanvas{
    height: 100vh;
}

.navbarcss .navbar-brand, .navbarcss .offcanvas-title{
    font-family: "Sacramento";
    font-size: 2.2rem;
}

.navbarcss .nav-link{
    font-family: "Work Sans", serif;
    text-transform: uppercase;
}

.ayat{
    min-height: 100vh;
    background-color: #854836;
    color: #FFB22C;
    margin-top: -6rem;
    padding-top: 15rem;
    padding-bottom: 5rem;
}
.ayat h3{
    font-size: 5rem;
    font-family: 'javasoul'
}

.ayat p{
    font-size: 2rem;
    padding: 3rem;
}

.home{
    min-height: 110vh;
    background-image: url('img/damar_jawa.jpg');
    background-size: cover;
    padding-top: 10rem;
}

.home p{
    font-family: "Work Sans", serif;
    color: #F7F7F7;
}

.home .teksacara p{
    font-family: "Work Sans", serif;
    color: #F7F7F7;
    font-size: 1.4rem;
    padding: 2.4rem;
}

.home .couple{
    margin-top: 100px;
}

.home p{
    font-family: "Work Sans", serif;
    font-size: 1rem;
}

.home .couple{
    margin-bottom: 15vh;
}

.home h3{
    font-family: "Javasoul", serif;
    color: #FFB22C;
    font-size: 2.4rem;
}
.home .couple p{
    font-family: "Work Sans", serif;
    font-size: 1rem;
}

.home .couple img{
    width: 100%;
}
.home .couple a{
    border: 1px solid var(--pink);
    background-color: var(--pink);
    color: #FFB22C;
    border-radius: 7px;
    padding: 0.5rem;
    text-decoration: none;
}
.home .couple a:hover{
    background-color: white;
    color: var(--pink);
}

.info{
    background-color: var(--pink);
    color: white;
    padding-top: 6rem;
    padding-bottom: 10rem;
}


.info h3{
    color: white;
    font-family: "javasoul";
    font-size: 5rem;
}
.info h4{
    font-family: "Sacramento";
    font-size: 3rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: #444;
}
.info p, .info span, .info i{
    font-family: "Work Sans", serif;
    font-size: 1.1rem;
    font-weight: 300;
    color: #444;   
}
.info .pemberkatan{
    height: fit-content;
    background-color: white;
    border-radius: 10px;
}

.info .deskripsi{
    font-family: "Work Sans", serif;
    color: white;
}
.info .time{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.info a
{
    width: 10rem;
    color: white;
    font-family: "Work Sans", serif;
    padding: 0.7rem;
    background-color: var(--pink);
    border-radius: 7px;
    text-decoration: none;
}

.info a:hover{
    color: var(--pink);
    background-color: white;
    border: 1px solid var(--pink);
}

.story, .gallery{
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.story span{
    font-family: "Work Sans", serif;
    font-size: 2rem;
    color: #444;
}

.story h2{
    font-family: "javasoul";
    font-size: 6rem;
    color: var(--pink);
    text-align:center;
}

.story h3{
    font-family: 'Sacramento';
    font-size: 3rem;
    padding: 1rem;
}

.story p, .gallery p{
    font-family: "Work Sans", serif;
    font-size: 1rem;
    font-weight: 300;
}

.timeline{
    list-style: none;
    padding: 0; 
    margin-top: 1rem;
    position: relative;
}

.timeline li{
    margin-bottom: 2rem; /* Jarak antar item timeline */
    position: relative;
    width: 80%; /* Lebar konten */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    z-index: 1; 
}

.timeline li::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    background-color: #ccc; 
    top: -1.5rem; 
    height: calc(50% + 1.5rem); 
    z-index: 0; 
}

/* Garis bawah untuk setiap item li */
.timeline li::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    background-color: #ccc; 
    bottom: -1.5rem; 
    height: calc(50% + 1.5rem); 
    z-index: -1; 
}

.timeline li:first-child::before {
    display: none;
}

.timeline li:last-child::after {
    display: none;
}


.timeline li .col-10 {
    width: 100%;
    padding: 1rem; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    background-color: white; 
    border: 1px solid #eee; 
    position: relative; 
    z-index: 0; 
    border-radius: 10px;
    
}

.timeline li p{
    padding: 1rem;
}


.timeline li img{
    width: 90%;
    height: 300px;
    object-fit: cover;
    display: block;
    margin: 0 auto 1rem auto; 
    border-radius: 10px;
}


.gallery h2{
    font-family: "javasoul";
    font-size: 6rem;
    color: white;
}

.gallery p , .gallery span{
    color: white;
    font-family: "Work Sans", serif;
}

.gallery span{
    font-family: "Work Sans", serif;
    font-size: 2rem;
}

.gallery{
    background-color: var(--pink);
}

.gift .buka{
    border: 1px solid var(--pink);
    color: #FFB22C;
    background-color: var(--pink);
    font-family: "Work Sans", serif;
    padding: 0.5rem;
    border-radius: 5px;
    margin-bottom: 1.3rem;
}

.gift .buka:hover{
    background-color: white;
    color: var(--pink);
}

.gift .kata{
    font-family: "Work Sans", serif;
    color: #F7F7F7;
    font-size: 1rem;
    font-weight: 300;
    margin-top: 2rem; 
}

.gift{
    min-height: 100vh;
    background-image: url('img/damar_jawa.jpg');
    background-size: cover;
    background-position: center;
    padding-top: 10rem;
    padding-bottom: 5rem;
}
.gift h2{
    font-family: "javasoul";
    font-size: 6rem;
    color: #FFB22C;
}
.gift p{
    font-family: "Work Sans", serif;
    color: #444;
    font-size: 1rem;
    font-weight: 300;
}

.gift h4{
    font-family: "Sacramento", serif;
    font-size: 4rem;
    color: #FFB22C;
    font-weight: bold;
}


footer{
    background-color: var(--pink);
    padding-top: 3rem;
    color: white;
}

footer ul{
    list-style: none;
    display: flex;
    justify-content: center;
}

footer li{
    margin:0.5rem;
}
footer a{
    color: #F7F7F7;
}

.audio-icon{
    border: 2px solid #F7F7F7;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    font-size: 2.5rem;
    position: fixed;
    bottom: 2.5rem;
    right: 2rem;
    cursor: pointer;
    color: #F7F7F7;
    opacity: 0.5;
    mix-blend-mode: difference;
    animation: rotating 4s linear infinite;
    transform-origin: center;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
    z-index: 3;
}


@keyframes rotating {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}

/* Laptop */
@media (max-width:996px) {
    html{
        font-size: 75%;
    }
}
/* Tablet */
@media (max-width:768px) {
    html{
        font-size: 62.5%;
    }
    .navbarcss .navbar-brand, .navbarcss .offcanvas-title{
        font-size: 3.7rem;
    }
    .sticky-top{
        overflow: hidden;
    }
    .info iframe{
        width: 70%;
        height: 20%;
    }
    .navbarcss .nav-link{
        font-size: 2rem;
        text-align: center;
    }
    .hero h1{
        font-family: "Sacramento", serif;
        font-size : 9rem;
    }
    .home{
        min-height: 130vh;
    }
    .home .couple img{
        margin-top: 2rem;
        width: 150px;
        height: 200px;
    }
    .home .couple h3{
        font-size: 3rem;
    }

    .gift .kata{
        margin: 2rem 1rem;
        font-size: 1.5rem;
        font-family: "Work Sans", serif;
    }
}
/* Mobile Phone */
@media (max-width:576px) {

    html{
        font-size: 62.5%;
    }
    .hero{
        height: 100vh;
    }
    .hero h1{
        font-size: 5rem;
    }
    .navbarcss .navbar-brand, .navbarcss .offcanvas-title{
        font-size: 3rem;
    }
    .navbarcss .nav-link{
        font-size: 1.5rem;
        text-align: center;
    }
    .hero h1{
        font-family: "Sacramento", serif;
        font-size : 8rem;
    }

    .home{
        min-height: 170vh;
        background-position: center;

    }
    .home p{
        font-family: "Work Sans", serif;
        font-size: 1rem;
    }

    .home .couple h3{
        font-size: 5rem;
    }
    .home .couple h3,.home .couple p{
        text-align: center;
    }
    .home .couple p{
        font-family: "Work Sans", serif;
        font-size: 1.5rem;
    }

    .home .teksacara img{
        width: 25px;
    }

    .home .couple img{
        margin-top: 2rem;
        width: 120px;
        height: 200px;
    }

    .info{
        padding-top: 2rem;
    }

    .info iframe{
        width: 70%;
        height: 20%;
    }

    .gallery{
        height: 120vh;
    }

    .timelapse{
        height: 50vh;
        margin-bottom: 25vh;
    }

    .gift .kata{
        font-size: 1.3rem;
    }

}

@font-face {
    font-family: 'Upakarti';
    src: url('font/upakarti.ttf'), url('font/Upakarti\ Serong.ttf');
}
@font-face {
    font-family: 'javasoul';
    src: url('font/Javassoul.woff'),url('font/Javassoul.woff2');
}

/* righen font */